body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-container {
    display: flex;
    flex-direction: column;   
    padding-left: 10%;
    padding-right: 10%;
    height: 25%;
    padding-bottom: 48px;
}

.header {
    width: 100%;
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.top-section {
    display: flex;
    gap: 5%;
    padding-top: 48px;
    justify-content: space-between;
    }

.top-section-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: wrap;
    overflow: hidden;
    flex-shrink: 1;
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
}  

.top-section-right {
    display: flex;
    flex-shrink: 0;
    width: 600px;
    height: 230px;
}

.top-section-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.top-section-left button {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}  


.top-container button {
    height: 50px;
    width: auto;
    margin: 0;
}

ul {
    display: flex;
    justify-self: flex-end;
    list-style-type: none;
    gap: 20px
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
}